.ranking
  .ranking__search
    %input.ranking__search__form-textbox{name: "keyword", placeholder: "ゲーム名を入力して下さい", type: "text", value: ""}
    %button.ranking__search__form-button{title: "検索", type: "submit"}
      = icon('fas', 'search', class: "ranking-search-icon")
  .ranking__tab
  .ranking__table
    %table{border: "1"}
      %thead
        %tr
          %th 順位
          %th ハンドルネーム
          %th ゲーム名
          %th 所属リーグ
          %th レート
      %tbody
        %tr
          %td 1
          %td 織田信長
          %td ぷよぷよ
          %td Aリーグ
          %td 10000
      %tbody
        %tr
          %td 2
          %td 豊富秀吉
          %td ぷよぷよ
          %td Aリーグ
          %td 5000
      %tbody
        %tr
          %td 3
          %td 徳川家康
          %td ぷよぷよ
          %td Aリーグ
          %td 3000
      %tbody
        %tr
          %td 4
          %td 徳川家康
          %td ぷよぷよ
          %td Aリーグ
          %td 3000
      %tbody
        %tr
          %td 5
          %td 徳川家康
          %td ぷよぷよ
          %td Aリーグ
          %td 3000
      %tbody
        %tr
          %td 6
          %td 徳川家康
          %td ぷよぷよ
          %td Aリーグ
          %td 3000
      %tbody
        %tr
          %td 7
          %td 徳川家康
          %td ぷよぷよ
          %td Aリーグ
          %td 3000
      %tbody
        %tr
          %td 8
          %td 徳川家康
          %td ぷよぷよ
          %td Aリーグ
          %td 3000
      %tbody
        %tr
          %td 9
          %td 徳川家康
          %td ぷよぷよ
          %td Aリーグ
          %td 3000
      %tbody
        %tr
          %td 10
          %td 徳川家康
          %td ぷよぷよ
          %td Aリーグ
          %td 3000
      %tbody
        %tr
          %td 11
          %td 徳川家康
          %td ぷよぷよ
          %td Aリーグ
          %td 3000
      %tbody
        %tr
          %td 12
          %td 徳川家康
          %td ぷよぷよ
          %td Aリーグ
          %td 3000
      %tbody
        %tr
          %td 13
          %td 徳川家康
          %td ぷよぷよ
          %td Aリーグ
          %td 3000
      %tbody
        %tr
          %td 14
          %td 徳川家康
          %td ぷよぷよ
          %td Aリーグ
          %td 3000
      %tbody
        %tr
          %td 15
          %td 徳川家康
          %td ぷよぷよ
          %td Aリーグ
          %td 3000
      %tbody
        %tr
          %td 16
          %td 徳川家康
          %td ぷよぷよ
          %td Aリーグ
          %td 3000
      %tbody
        %tr
          %td 17
          %td 徳川家康
          %td ぷよぷよ
          %td Aリーグ
          %td 3000