* {
  box-sizing: border-box;
}

.header-navigation{
  width: 100%;
  height: 70px;
  display: flex;
  line-height: 70px;
  z-index: 9999;
  position: fixed;
  background-color: black;
}

.primary__navigation{
  height: 70px;
  width: 100%;
  display: flex;
  &__logo{
    height: 70px;
    width: 192px;
    line-height: 70px;
    .toplogo{
      height: 30px;
      width: 192px;
      margin-top: 20px;
    }
  }
  &__game{
    height: 70px;
    margin: 2px 20px 0 0 ;
    line-height: 70px;
  }
  &__tournament{
    height: 70px;
    margin: 2px 20px 0 0 ;
    line-height: 70px;
  }
  &__ranking{
    height: 70px;
    margin: 2px 20px 0 0 ;
    line-height: 70px;
    .ranking-link{
      color: white;
      text-decoration: none;
    }
  }
  &__mylist{
    height: 70px;
    margin: 2px 20px 0 0 ;
    line-height: 70px;
  }
  .primary__navigation__advertising{
    height: 40px;
    line-height: 22px;
    margin: 17px 20px 0 0 ;
    padding: 8px;
    width: 500px;
    border: 1px solid gold;
    color: gold;
    overflow : hidden;
    &__text{
      white-space: nowrap;
      animation-name: marquee;
      animation-duration: 20s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      }
      @keyframes marquee {
        from    { transform: translate(100%); } 
        100%,to { transform: translate(-170%); }
    }
  }
}

.secondary-navigation{
  text-align: right;
  width: 300px;
  height: 70px;
  line-height: 70px;
  margin: 2px 20px 0 0;
  position: relative;
  h4{
    color: white;
    font-size: 14px;
    float: left;
    font-weight: bold;
  }
  h5{
    font-size: 10px;
    position: absolute;
    top: 20px;
  }
  button{
    background-color: black;
    border: none;
    padding: 12px 20px 0 0;
  }
  .account-button{
    background-color: black;
    width: 50px;
  }
  ul{
    display: none;
    background-color: gold;
    width: 130px;
    height: 130px;
    text-align: initial;
    float: right;
    li{
      color: black;
      font-size: 12px;
      font-weight: bold;
      height: 14px;
      margin: 0 0 8px 8px;
      .account-new-btn{
        color: black;
        text-decoration: none;
        display: flex;
        height: 14px;
        margin-bottom: 8px;
      }
    }
  }
}

.main-content{
  width: 100%;
  height: 100%;
  padding: 90px 30px 30px 20px;
  .topvideo{
    height: 450px;
    width: 70%;
    float: right;
  }
  &__explain{
    width: 28%;
    z-index: 5000;
    h3{
      font-size: 30px;
    }
    p{
      padding-top: 10px;
      font-size: 14px
    }
    h4{
      height: 100px;
      line-height: 80px;
      text-align: center;
      margin-top: 20px;
      padding: 8px;
      border: 1px solid gold;
    }
    &__input{
      margin-top: 40px;
      font-size: 16px;
      font-weight: bold;
      .download-btn{
        background-color: gold;
        color: black;
        padding: 8px 8px;
        border: 1px solid gold;
        border-radius: 3px;
        width: 45%;
        font-size: 16px;
        &:hover{
          transform: scale(1.05,1.05);
          background-color: #faff00;
          border: 1px solid #faff00;
        }
      }
      &__mylist{
        background-color: black;
        color: white;
        border: 1px solid #f5f5f5;
        padding: 8px;
        width: 45%;
        float: right;
        text-align: center;
        border-radius: 3px;
        &:hover{
          transform: scale(1.05,1.05);
        }
        .mylist-btn{
          background-color: black;
          color: white;
          border: none;
        }
      }
      .tournament-btn{
        background-color: red;
        color: white;
        padding: 8px;
        border: 1px solid red;
        border-radius: 3px;
        width: 100%;
        margin-top: 25px;
        &:hover{
          transform: scale(1.05,1.05);
          background-color: #ff5e5e;
          border: 1px solid #ff5e5e;
        }
      }
    }
  }
  &__game{
    width: 100%;
    position: absolute;
    top: 550px;
    h2{
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    ul{
      overflow-x: auto;
      display: flex;
      li{
        display: inline-block;
      }
    }
    &__list{
      overflow: scroll;
    }
    .image{
      height: 120px;
      width: 170px;
      margin-right: 10px;
    }
  }
}