* {
  box-sizing: border-box;
}

.wrapper{
  box-sizing: border-box;
}

.header{
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: black;
  z-index: 9999;
}

.header-navigation{
  width: 100%;
  height: 70px;
  display: flex;
  line-height: 70px;
}

.primary__navigation{
  height: 70px;
  width: 100%;
  display: flex;
  &__logo{
    height: 70px;
    width: 192px;
    line-height: 70px;
    .toplogo{
      height: 30px;
      width: 192px;
      margin-top: 20px;
    }
  }
  &__game{
    height: 70px;
    margin: 2px 20px 0 0 ;
    line-height: 70px;
  }
  &__tournament{
    height: 70px;
    margin: 2px 20px 0 0 ;
    line-height: 70px;
  }
  &__ranking{
    height: 70px;
    margin: 2px 20px 0 0 ;
    line-height: 70px;
  }
}

.secondary-navigation{
  text-align: right;
  width: 100%;
  height: 70px;
  line-height: 70px;
  margin: 2px 20px 0 0 ;
}

.account-new-btn{
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.main-contents{
  width: 100%;
  height: 100%;
  padding-top: 70px;
}

.main-content__recommend{
  height: 130px;
  width: 100%;
  background-color: #696969;
  &__title{
    padding-left: 10px;
    font-size: 30px;
  }
  &__first{
    padding-left: 10px;
  }
  &__second{
    padding-left: 10px;
  }
}  


.main-content__game{
  display: inline-block;
  margin-top: 150px;
  padding: 30px 0;
  width: 100%;
  position: relative;
  &__title{
    font-size: 25px;
  }
  &__list{
    width: 1000px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    flex-wrap: wrap;
    top: 100px;
    left: 10px;
    }
  }

.main-content__game__list__image{
  margin-bottom: 50px;
  &__text{
    margin-top: 15px;
    width: 350px;
    height: 50px;
    font-size: 12px;
  }
}

.image{
  height: 230px;
  width: 350px;
}