.ranking{
  padding: 40px;
  &__search{
    margin: 0 auto;
    width: 500px;
    .ranking__search__form-textbox{
      width: 500px;
      height: 50px;
      border-radius: 3px;
      padding: 8px;
      position: relative;
    }
    .ranking__search__form-button{
      border: none;
      position: absolute;
      top: 125px;
      right: 476px;
    }
    .ranking-search-icon{
      font-size: 20px;
    }
  }
  &__tab{
    width: 100%;
    ul{
      text-align: center;
      list-style: none;
      color: white;
    }
    li{
      position: relative;
      display: block;
      }
      .dropdwn_menu{
        display: none;
        position: absolute;
        margin-left: -5px;
        margin-top: 5px;
        background-color: red;
      }
  }
  &__table{
    width: 700px;
    margin: 50px auto;
    height: 400px;
    overflow-y: auto;
    table{
      text-align: center;
      width: 100%;
      padding: 8px;
      font-size: 18px;
      th{
        text-align: center;
        background-color: orangered;
      }
      td{
        background-color: white;
        color: black;
      }
    }
  }
}