.tounament-advertising{
  width: 1000px;
  height: 200px;
  line-height: 200px;
  background-color: white;
  text-align: center;
  color: black;
  margin: 0 auto;
  position: absolute;
  top: 95px;
  left: 205px;
}

.tournament-content{
  padding: 30px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 300px;
  margin-left: 60px;
  &__detail{
    width: 400px;
    height: 342px;
    background-color: #9a9a9a;
    color: black;
    margin-right: 30px;
    padding-bottom: 8px;
    border-radius: 8px;
    &__image{
      width: 100%;
      height: 200px;
      .tournament-image{
        height: 100%;
        width: 100%;
        border-radius: 8px;
      }
    }
    &__date{
      margin-top: 10px;
      p{
        font-size: 14px;
        padding: 4px 0 8px 8px;
      }
    }
    &__button{
      width: 100%;
      position: relative;
      .tournament-button{
        background-color: red;
        color: white;
        padding: 8px;
        border: 1px solid red;
        border-radius: 3px;
        text-decoration: none;
        position: absolute;
        top: 10px;
        left: 155px;
      }
    }
  }
}